input,
button,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

label,
input,
textarea {
  display: block;
}

.input-element {
  margin-bottom: 1.5rem;
}

.input-element__label {
  margin-bottom: 0.25rem;
}

.upload-form__error {
  margin: 0 0 1rem 0;
  color: #b00020;
  font-size: 0.9rem;
}